set -e
{{- with index . 0 }}
{{- if .MountPath }}
if [ -f '{{ .MountPath }}/ssh-privatekey' ]; then
  mkdir -p ~/.ssh
  cp '{{ .MountPath }}/ssh-privatekey' ~/.ssh/id_rsa
  chmod 600 ~/.ssh/id_rsa
  ssh-keyscan github.com gitlab.com bitbucket.org >> ~/.ssh/known_hosts 2>/dev/null
elif [ -f '{{ .MountPath }}/token' ]; then
  git config --global credential.helper '!f() { echo username=x-access-token; echo password=$(cat {{ .MountPath }}/token); }; f'
fi
{{- end }}
{{- end }}
{{- range . }}
{{- if .IsCommit }}
git clone -- '{{ .URL }}' '{{ .Dest }}'
cd '{{ .Dest }}' && git checkout '{{ .Ref }}'
{{- else }}
git clone --depth 1 --branch '{{ .Ref }}' -- '{{ .URL }}' '{{ .Dest }}'
{{- end }}
{{- if .SubPath }}
_tmp="$(mktemp -d)"
cp -a '{{ .Dest }}/{{ .SubPath }}/.' "$_tmp/"
rm -rf '{{ .Dest }}'
mv "$_tmp" '{{ .Dest }}'
{{- end }}
{{- end }}
