{{- $dot := . }}
{{- $defaultProvider := .Values.providers.default | default "openAI" }}
{{- if hasKey .Values.providers $defaultProvider | not }}
{{- fail (printf "Provider key=%s is not found under .Values.providers" $defaultProvider) }}
{{- end }}
{{- range $providerKey, $model := .Values.providers }}
{{- if ne $providerKey "default" }}
---
apiVersion: kagent.dev/v1alpha2
kind: ModelConfig
metadata:
  {{- if eq $providerKey $defaultProvider }}
  name: {{ include "kagent.defaultModelConfigName" $dot | quote }}
  {{- else }}
  name: {{ printf "%s-model-config" $providerKey| lower }}
  {{- end }}
  namespace: {{ include "kagent.namespace" $dot }}
  labels:
    {{- include "kagent.labels" $dot | nindent 4 }}
    kagent.dev/provider: {{ $providerKey | quote }}
    {{- if eq $providerKey $defaultProvider }}
    kagent.dev/default: "true"
    {{- end }}
spec:
  provider: {{ $model.provider | quote }}
  model: {{ $model.model | quote }}
  {{- if $model.apiKeySecretRef }}
  apiKeySecret: {{ $model.apiKeySecretRef }}
  {{- end }}
  {{- if $model.apiKeySecretKey }}
  apiKeySecretKey: {{ $model.apiKeySecretKey }}
  {{- end }}
  {{- if hasKey $model "defaultHeaders" }}
  defaultHeaders:
    {{- toYaml $model.defaultHeaders | nindent 4 }}
  {{- end }}
  {{- if $model.config }}
  {{ $providerKey }}:
  {{- toYaml $model.config | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
